.main-wrapper {
    background: #f5f5f5;
}

.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    height: 100vh;
    padding: 1rem;
}

.dashboard-container {
    height: 100%;
    display: flex;
}



/* ===== SIDEBAR ===== */
.sidebar-tab {
    width: 250px;
    display: flex;
    flex-direction: column;
}



/* ===== CHATS ===== */
.chat-textarea {
    resize: none;
}

#chat.active {
    color: #FFF !important;
    background: #28A745 !important;
}



/* MEDIA QUERY */
@media only screen and (max-width: 575px) {
    .dashboard {
        padding: 0;
    }    
}